<% if @tasks.empty? %>
  <h4 style="text-align: center">There are no tasks between<br>
    <%= @start_time.strftime('%d.%m.%Y, %H:%M') %><br>
    and<br>
    <%= @human_end_time.strftime('%d.%m.%Y, %H:%M') %>
  </h4>
<% else %>
  <table class="table table-striped table-list table-report">

    <thead>
      <tr>
        <th>Activity</th>
        <%= '<th>Date</th>'.html_safe unless controller.action_name == 'daily' %>
        <% '<th>Time</th>' %>
        <th>Duration</th>
        <th class="hidden-print">Actions</th>
      </tr>
    </thead>

    <tbody>

      <% @tasks.each do |task| %>
        <%
          start_time = task.start_time_capped_by(@start_time)
          end_time = task.end_time_capped_by(@end_time)
        -%>
        <tr>

          <td class="span7">
            <span class="activity">
              <%= task.name %>
            </span>
          </td>
          <% unless controller.action_name == 'daily' %>
            <td class="span2">
              <h5 class="started_at">
                <%= smart_date(start_time, @start_time, @end_time) %>
              </h5>
              <% if start_time.day != (end_time -1.seconds).day %>
                <h5 class="ended_at">
                  <%= smart_date(end_time, @start_time, @end_time) %>
                </h5>
              <% end %>
            </td>
          <% end %>
          <% if false %>
          <td class="span1">
            <h5 class="started_at">
              <%= '<span class="icon-arrow-left" title="Activity start time is outside of this time frame."></span>'.html_safe if task.over(@start_time) %>
              <%= task.start_time_capped_by(@start_time).strftime("%H:%M") %>
              <%= '<span class="icon-arrow-right" title="Activity end time is outside of this time frame."></span>'.html_safe if task.over(@end_time) %>
            </h5>
          </td>
          <% end %>
          <td class="span2">
            <h5 class="time-spent" >
              <% unless task.end_time.nil? %>
                <%= seconds_to_human_time(task.total_time_capped_by(@start_time, @end_time)) %>
                <% '<span title="In this time frame.">*</span>'.html_safe if task.over(@end_time) or task.over(@start_time) %>
              <% else %>
                In progress
              <% end %>
            </h5>
          </td>

          <td class="span1 hidden-print">
            <div class="btn-group">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-edit icon-white"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if task.not_finished.nil? %>
                  <li>
                    <%= link_to '<i class="icon-edit"></i> Details & Edit'.html_safe, edit_task_path(task.id) %>
                  </li>
                  <li>
                    <%= link_to '<i class="icon-play"></i> Continue'.html_safe, continue_task_path(task.id), method: :post, data: { confirm: 'Continue selected task?' }  %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to '<i class="icon-stop"></i> Stop timer'.html_safe, stop_task_path(task.id), method: :post, data: { confirm: 'Stop timer?' } %>
                  </li>
                <% end %>
                <li>
                  <%= link_to '<i class="icon-trash"></i> Destroy'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              </ul>
            </div>
          </td>

        </tr>

      <% end %>

    </tbody>

  </table>
<hr>
<div class="row total">
  <div class="span2 pull-right">
    <h4 id="total_time"><%= seconds_to_human_time(@total_seconds) %></h4>
  </div>
  <div class="span1 pull-right">
    <h4>Total: </h4>
  </div>
</div>
<% end %>
