<!-- Primary menu with the datetime, days control, calendar and user -->
<div class="container row">

  <div class="pagination span5">
    <h2 class="pull-left"><%= @date.strftime("%A, %d %b %Y") %></h2>
  </div>

 <nav class="span5 pull-right" id="timesheet-controls">

    <ul class="pager span2 pull-right">
      <li><a id="calendar_button_daily" href='#' class="icon-calendar" data-date-format="yyyy-mm-dd" data-date="<%= @date.strftime("%Y-%m-%d") %>"></a></li>
    </ul>

    <div class="pagination pull-right">

      <ul>
          <li class="previous">
            <%= link_to '', daily_url(today_date(@date.yesterday)), class: 'icon-arrow-left' %>
          </li>
          <li<%= ' class="active"'.html_safe if @date.to_date == Time.zone.now.to_date %>>
            <%= link_to 'Today', daily_url %>
          </li>
          <li class="next">
            <%= link_to '', daily_url(today_date(@date.tomorrow)), class: 'icon-arrow-right' %>
          </li>
      </ul>

    </div>

  </nav>

</div>

<div class="pagination pagination-large week">
  <ul>
    <% for day in 1..7 %>
    <% dayDate = @date.beginning_of_week + (day - 1).days %>
    <li class="<%= 'active' if dayDate == @date %>">
      <%= link_to dayDate.strftime('%A'), daily_url(today_date(dayDate)) %>
    </li>
    <% end %>

  </ul>

</div>

<h4 style="text-align: center">There are no records between<br><%= @start_time.strftime('%d.%m.%Y, %H:%M') %><br>and<br><%= @end_time.strftime('%d.%m.%Y, %H:%M') %></h4>
