<!-- Primary menu with the datetime, days control, calendar and user -->
<div class="container row">

  <div class="pagination span5">
    <h2 class="pull-left"><%= @date.strftime("Week %V, %G") %></h2>
    <h4 class="pull-left" style="margin-top: -13px">(<%= @start_time.strftime("%d %b %Y") %> - <%= @human_end_time.strftime("%d %b %Y") %>)<h4>
  </div>
  <div class="pagination hidden visible-print pull-right">
    <h2><%= @user.name %></h2>
  </div>
 <nav class="span5 pull-right" id="timesheet-controls">

    <ul class="pager span2 pull-right">
      <li><a id="calendar_button_weekly" href='#' class="icon-calendar" data-date-format="yyyy-mm-dd" data-date="<%= @date.strftime("%Y-%m-%d") %>"></a></li>
    </ul>

    <div class="pagination pull-right">

      <ul>
          <li class="previous">
            <% last_week = @date.advance({:weeks => -1, :days => +4})%>
            <%= link_to '', weekly_url({year: last_week.year, week: last_week.cweek}), class: 'icon-arrow-left' %>
          </li>
          <li<%= ' class="active"'.html_safe if @date.strftime("%V %G") == Time.zone.now.strftime("%V %G") %>>
            <%= link_to 'This week', weekly_url %>
          </li>
          <li class="next">
            <% next_week = @date.advance({:weeks => +1, :days => +4}) %>
            <%= link_to '', weekly_url({year: next_week.year, week: next_week.cweek}), class: 'icon-arrow-right' %>
          </li>
      </ul>

    </div>

  </nav>

</div>

<%= render "partials/tasks_table" %>
